@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
    --primary: #60A561;
    --contrast: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #F5F5F5;
    font-family: 'Inter', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 31% 38%;
    padding: 16px 4vw;
    max-width: 1920px;
    margin: 0 auto;
    position: sticky;

    .logo {
        font-size: 35px;
        color: var(--primary);
        font-weight: 600;
    }

    .headerContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 725px;
        min-width: 520px;
        align-items: center;
        margin: 0 auto;

        h2 {
            font-size: 28px;
            font-weight: 400;
        }

        a {
            font-size: 16px;
            color: var(--primary);
        }
    }
}

main {
    display: grid;
    grid-template-columns: 31% 38%;
    padding: 8vw 4vw;
    max-width: 1920px;
    margin: 0 auto;
}

.progress-bar {
    padding-top: 6vw;
}

.form-container {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px #EAEAEA;
    border-radius: 20px;
    padding: 20px 70px 60px 70px;
    margin: 0 auto;
    width: 100%;
    max-width: 725px;
    min-width: 520px;
    min-height: 560px;
}

.phone-input {
    display: grid;
    grid-template-columns: 37% auto;
    gap: 1rem;
}

.product-input--price-weight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.buttons {
    display: flex;
    padding-top: 24px;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {

    header {
        grid-template-columns: 31% 68%;

        .headerContainer {
            min-width: 100px;
        }
    }
    
    main {
        grid-template-columns: 31% 68%;
    }

    .form-container {
        padding: 20px 40px 40px 40px;
        min-width: 250px;
        min-height: 500px;
    }
}

@media only screen and (max-width: 550px) {

    header {
        grid-template-columns: 1fr;

        .logoContainer {
            margin: auto;
        }

        .headerContainer {
            margin-top: 12px;

            h2 {
                font-size: 24px;
            }
        }
    }
    
    main {
        grid-template-columns: 14% 84%;
    }

    .progress-title, .progress-mark {
        display: none !important;
    }

    .form-container {
        padding: 20px 5vw;
    }

    .buttons {
        padding-top: 16px;
    }

    .phoneInput {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }
}